
/*forum.css*/

.jumbotron {
  color: #3e8e41;
}

body {
  background-image: url(../images/261306.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: black;
  font-family: 'Rock Salt', cursive;
  opacity: 0.85;
}

.icons {
  text-align: center;
}

.navbar {
  z-index: 1;
  width: 100%;
}
.dropbtn {
  background-color: #343A40;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  border: none;
  justify-content: center;
  padding-top: 13px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F1F1F1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: red;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3E8E41;
}
.nav-item:hover {
  background-color: #3E8E41;
}
.nav-link {
  padding-top: 22px;
}
.nav-items {
  float: right !important;
}
/*sticky navbar*/
.container {
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky+.container {
  padding-top: 60px;
}

