
.jumbotron {
  color: #3e8e41;
}

body {
  background-image: url(../images/261306.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: black;
  font-family: 'Rock Salt', cursive;
  opacity: 0.85;
  font-weight: bold;
}
.icons {
  text-align: center;
}