/*HOME*/
body {
  background-image: url(../../images/wp4411626-keanu-reeves-cyberpunk-2077-wallpapers.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*slideshow*/
#carouselExampleIndicators {
  z-index: 1;
}

.d-block {
  position: relative;
  object-fit: cover;
}

#demo {
  color: #000000;
  background-color: white;
  color: black;
  font-size: 2vw;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  text-align: center;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
  /* This makes the cutout text possible */
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.carousel-text {
  background-color: black;
  color: white;
  font-size: 80px;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: multiply;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fa0101, 0 0 40px #fa0101, 0 0 50px #fa0101, 0 0 60px #fa0101, 0 0 70px #fa0101;
  }

  to {
    text-shadow: 0 0 30px #fff, 0 0 40px #3e8e41, 0 0 50px #3e8e41, 0 0 60px #3e8e41, 0 0 70px #3e8e41, 0 0 80px #3e8e41, 0 0 90px #3e8e41;
  }
}

/*navbar*/
.navbar {
  z-index: 1;
  width: 100%;
}

.dropbtn {
  background-color: #343a40;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  border: none;
  justify-content: center;
  padding-top: 13px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: red;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.nav-item:hover {
  background-color: #3e8e41;
}

.nav-link {
  padding-top: 22px;
}

.nav-items {
  float: right !important;
}

/*sticky navbar*/

.container {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.container {
  padding-top: 60px;
}

/*Login*/
.butt {
  float: right;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 20%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(18, 206, 65);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  color: #000;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
  z-index: 2;
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.9s;
  animation: animatezoom 0.9s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}

/*Scroll bar*/
::-webkit-scrollbar {
  width: 30px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar {
  width: 30px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #D62929;
  background-image: -webkit-linear-gradient(90deg,
      transparent,
      rgba(0, 0, 0, 0.4) 50%,
      transparent,
      transparent)
}

::-webkit-scrollbar-thumb:hover {
  background: #3e8e41;
  background-image: -webkit-linear-gradient(190deg,
      transparent,
      rgba(0, 0, 0, 0.4) 50%,
      transparent,
      transparent)
}

/*body*/
.container {
  z-index: -1;
}

.card {
  position: relative;
  margin-top: 10px;
}

.morebtn {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(0, 0, 0);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.morebtn:hover {
  opacity: 0.5;
}

.list-group {
  margin: 0;
}

.red {
  color: #3e8e41;
  background-color: red;
  font-weight: bold;
}

.green {
  color: red;
  background-color: #3e8e41;
}

.bg-gray {
  background-color: darkgray;
}

.fa-star {
  font-size: 20px;
}

.checked {
  color: orange;
}

/*Footer*/
.context-dark,
.bg-gray-dark,
.bg-primary {
  color: rgba(255, 255, 255, 0.8);
}

.footer-classic a,
.footer-classic a:focus,
.footer-classic a:active {
  color: #ffffff;
}

.nav-list li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-list li a:hover:before {
  margin-left: 0;
  opacity: 1;
  visibility: visible;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list li a:before {
  content: "\f14f";
  font: 400 21px/1 "Material Design Icons";
  color: #4d6de6;
  display: inline-block;
  vertical-align: baseline;
  margin-left: -28px;
  margin-right: 7px;
  opacity: 0;
  visibility: hidden;
  transition: .22s ease;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-google {
  background: #dd4b39;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-youtube {
  background: #bb0000;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-instagram {
  background: #125688;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}